{% extends 'base.html' %}

{% set current_page = 'about' %}

{% block content %}

    <div class="container mt-5">
        <h2>About</h2>
            <div class="mb-3">
                This webapp allows You to convert a youtube link to a downloadable mp3 files.
            </div>
            <div class="mb-3">
                Upper limit for downloaded list is 5 files. After reaching it, You have to clean the files from the download list, then You can do more conversions
            </div>
    </div>

{% endblock %}
